<% provide(:page, "1") %>
<div>Having done very little web development in the past, 
    I hope to learn more in depth web development techniques that will 
    allow me to contribute on a professional level
</div>

<img src= "https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Millard_Fillmore_daguerreotype_by_Mathew_Brady_1849-crop.jpg/170px-Millard_Fillmore_daguerreotype_by_Mathew_Brady_1849-crop.jpg"></img>
<a href="https://en.wikipedia.org/wiki/Millard_Fillmore">More</a>
<div><a href="static_pages/help">Page 2</a></div>